extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section-with-slider
		container.container-tsws
			.tsws-slider
				.tsws-slide
					.tsws-slide-category
						.tsws-slide-category__occurred.tsws-slide-category__occurred--live Live
						.tsws-slide-category__date 15.03.2020, 15:30
					.tsws-slide-info
					.tsws-slide-teams
						.tsws-slide-teams__team--left
							.tsws-slide-teams__pic
							span Сочи
						.tsws-slide-teams__delimiter
						.tsws-slide-teams__team--right
							.tsws-slide-teams__pic
							span Краснодар


					.tsws-slide-score.tsws-slide-score--live
						span 2:0
				.tsws-slide
					.tsws-slide-category
						.tsws-slide-category__occurred Предстоит
						.tsws-slide-category__date 15.03.2020, 15:30
					.tsws-slide-info
					.tsws-slide-teams
						.tsws-slide-teams__team--left
							.tsws-slide-teams__pic
							span Мораинг
						.tsws-slide-teams__delimiter
						.tsws-slide-teams__team--right
							.tsws-slide-teams__pic
							span Котов

					.tsws-slide-score
						span 0:0