extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section-with-slider
		.container.container-tsws
			.tsws-slider.js-tsws-slider
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score.tsws-slide-score--live
							span 2:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-te.svg", alt="")
							span.tsws-slide-category__name(style="color: #E8B500;") Теннис

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30

						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-1.jpg", alt="")
								span Мораинг
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-2.jpg", alt="")
								span Котов

						.tsws-slide-score.tsws-slide-score--live
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span ЦСК
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span УФА
						.tsws-slide-score
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-bb.svg", alt="")
							span.tsws-slide-category__name(style="color: #E57E25;") Баскетбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Легенды
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span ДИС
						.tsws-slide-score
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score.tsws-slide-score--live
							span 2:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-te.svg", alt="")
							span.tsws-slide-category__name(style="color: #E8B500;") Теннис

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30

						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-1.jpg", alt="")
								span Мораинг
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-2.jpg", alt="")
								span Котов

						.tsws-slide-score.tsws-slide-score--live
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score
							span 0:0

	section.main-marquee-section
		.main-marquee-flex
			.main-marquee-flex__live Live
			.main-marquee-wrap
				.main-marquee.js-main-marquee(data-duration='15000' data-gap='25' data-duplicated='true') Жеребьевка будет полностью открытая, сеяных и несеяных команд нет. Команда, которую в каждой паре достанут первой, проведет стартовый полуфинальный матч на своем поле. Поможет провести жеребьевку посол финального матча в Киеве и победитель Лиги чемпионов в составе







	section.section-hp-main.section-hp-main--searching-results
		.container
			.news__banners-top.news__banners-top--homepage.news__banners-top--searching
				.news__banner-top
						img(src='./img/news/banner-1-top.jpg', alt= 'banner-1')
				.news__banner-top
					picture
						source(srcset='./img/news/banner-2-top.jpg', media='(min-width: 768px)')
						img(src='./img/news/banner-2-tab.jpg', alt= 'banner-2')

			.news__breadcrumbs
				a(href="#" target="_blank") SportHub
				svg
					use(xlink:href="./svg/sprite.svg#news--article-switcher-arrow-rb")


			h1.search-results-heading Результаты поиска
				span  “Футбол”
			.hp-default-layout.hp-default-layout--hp-margins
				.hp-default-layout__main
					.searching-results-block
						a.hp-news-item.hp-news-item--searching(href="")
							.hp-news-item-top
								.category-label.category-label--hp-news-item-top(style="background: #009A06;")
									svg
										use(xlink:href='./svg/sprite.svg#sport--fb'  )
									span Футбол
								.hp-news-item-date 15.03.2020, 14:30
							.hp-news-item-post-type Новость
							h3.hp-news-item-title 2Жеребьевка Лиги чемпионов: как это было
							.hp-news-item-excerpt В пятницу, 13 апреля, в штаб-квартире УЕФА в Ньоне состоится жеребьевка 1/2 финала Лиги чемпионов. Начало церемонии – в 14:00 по киевскому времени. Онлайн трансляция будет доступна на iSport.ua в этой статье. Жеребьевка будет полностью открытая, сеяных и несеяных команд нет...

						a.hp-news-item.hp-news-item--searching(href="")
							.hp-news-item-top
								.category-label.category-label--hp-news-item-top(style="background: #009A06;")
									svg
										use(xlink:href='./svg/sprite.svg#sport--fb'  )
									span Футбол
								.hp-news-item-date 15.03.2020, 14:30
							.hp-news-item-post-type Статья
							h3.hp-news-item-title 2Жеребьевка Лиги чемпионов: как это было
							.hp-news-item-excerpt В пятницу, 13 апреля, в штаб-квартире УЕФА в Ньоне состоится жеребьевка 1/2 финала Лиги чемпионов. Начало церемонии – в 14:00 по киевскому времени. Онлайн трансляция будет доступна на iSport.ua в этой статье. Жеребьевка будет полностью открытая, сеяных и несеяных команд нет...

						a.hp-news-item.hp-news-item--searching(href="")
							.hp-news-item-top
								.category-label.category-label--hp-news-item-top(style="background: #009A06;")
									svg
										use(xlink:href='./svg/sprite.svg#sport--fb'  )
									span Футбол
								.hp-news-item-date 15.03.2020, 14:30
							.hp-news-item-post-type Новость
							h3.hp-news-item-title 2Жеребьевка Лиги чемпионов: как это было
							.hp-news-item-excerpt В пятницу, 13 апреля, в штаб-квартире УЕФА в Ньоне состоится жеребьевка 1/2 финала Лиги чемпионов. Начало церемонии – в 14:00 по киевскому времени. Онлайн трансляция будет доступна на iSport.ua в этой статье. Жеребьевка будет полностью открытая, сеяных и несеяных команд нет...

						a.hp-news-item.hp-news-item--searching(href="")
							.hp-news-item-top
								.category-label.category-label--hp-news-item-top(style="background: #009A06;")
									svg
										use(xlink:href='./svg/sprite.svg#sport--fb'  )
									span Футбол
								.hp-news-item-date 15.03.2020, 14:30
							.hp-news-item-post-type Статья
							h3.hp-news-item-title 2Жеребьевка Лиги чемпионов: как это было
							.hp-news-item-excerpt В пятницу, 13 апреля, в штаб-квартире УЕФА в Ньоне состоится жеребьевка 1/2 финала Лиги чемпионов. Начало церемонии – в 14:00 по киевскому времени. Онлайн трансляция будет доступна на iSport.ua в этой статье. Жеребьевка будет полностью открытая, сеяных и несеяных команд нет...

						a.hp-news-item.hp-news-item--searching(href="")
							.hp-news-item-top
								.category-label.category-label--hp-news-item-top(style="background: #009A06;")
									svg
										use(xlink:href='./svg/sprite.svg#sport--fb'  )
									span Футбол
								.hp-news-item-date 15.03.2020, 14:30
							.hp-news-item-post-type Статья
							h3.hp-news-item-title 2Жеребьевка Лиги чемпионов: как это было
							.hp-news-item-excerpt В пятницу, 13 апреля, в штаб-квартире УЕФА в Ньоне состоится жеребьевка 1/2 финала Лиги чемпионов. Начало церемонии – в 14:00 по киевскому времени. Онлайн трансляция будет доступна на iSport.ua в этой статье. Жеребьевка будет полностью открытая, сеяных и несеяных команд нет...

				.hp-default-layout__sidebar
					.news-choise.news-choise--default-layout.news-choise--searching
						.news-choise-content
							.news-choise__title Рекомендуем вам


							.news-choise__items.news-choise__items--active
								.news-choise__item
									.news-choise__preview
										img(src='img/news/choise-1.png', alt= 'choise-1')
									.news-choise__info
										.news-choise__date 15.03.2020
										a.news-choise__desc(href='#', target='_blank') Михайлюк набрал 1000 очков за Канзас

								.news-choise__item
									.news-choise__preview
										img(src='img/news/choise-2.png', alt= 'choise-2')
									.news-choise__info
										.news-choise__date 15.03.2020
										a.news-choise__desc(href='#', target='_blank') Гассиев — Влодарчик: видео боя

								.news-choise__item
									.news-choise__preview
										img(src='img/news/choise-3.png', alt= 'choise-3')
									.news-choise__info
										.news-choise__date 12.03.2020
										a.news-choise__desc(href='#', target='_blank') Андерлехт – ПСЖ 0:4 видео голов и обзор

								.news-choise__item
									.news-choise__preview
										img(src='img/news/choise-4.png', alt= 'choise-4')
									.news-choise__info
										.news-choise__date 11.03.2020
										a.news-choise__desc(href='#', target='_blank') НБА: Хьюстон обыграл Шарлотт



					// одному из сделующих баннеров приписываем класс .news__banner-at-display-tablet он отобразится на планшетах справа от блока выбор редакции
					a.news__banner.news__banner--after-tabs.news__banner-at-display-tablet(href="")
						img(src="img/news/banner-1-mobile.jpg", alt="")

					a.news__banner.news__banner--after-tabs(href="")
						img(src="img/news/banner-2-mobile.jpg", alt="")




			.news__banners--bottom-only-mobile
				a.news__banner.news__banner--bottom-only-mobile(href="")
					img(src="img/news/banner-1-top.jpg", alt="")
