// Fonts
$mainFont: 'PT Root UI',
sans-serif;

// Colors
$white: #FFF;
$black-33: #333333;
$black: #000;
$gray-b6: #B6B6B6;
$dark-blue: #0E3770;
$light-blue: #EEF7FF;

// Breakpoints
$tMin: 768px;
$dMin: 1024px;
$d1280: 1280px;