.top-section-with-slider {
    padding: 40px 0;
    background: #EEF7FF;
}

.container-tsws {
    padding: 0 17px;
}

.tsws-slider {
    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        display: flex;
        flex-direction: column;
        height: auto;

        >div {
            flex-grow: 1;
        }
    }
}

.tsws-slide {
    height: 100%;
    padding: 0 10px;
}

.tsws-match-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 275px;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    //  margin: 10px;
    background: #FFFFFF;
}

.tsws-slide-category {
    display: flex;
    align-items: center;

    &__pic {
        width: 14px;
        min-width: 14px;
        height: 14px;
        margin-right: 10px;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }

    &__name {
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
    }
}

.tsws-slide-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    &__occurred {
        display: flex;
        align-items: center;
        color: #B6B6B6;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;

        &--live {
            color: #DE2A2D;

            &::before {
                display: block;
                width: 6px;
                height: 6px;
                margin-right: 5px;
                content: '';
                border-radius: 50%;
                background: #DE2A2D;
            }
        }
    }

    &__date {
        color: #B6B6B6;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
}

.tsws-slide-teams {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 20px;

    &__team {
        display: flex;
        align-items: center;
        max-width: calc(50%);

        &--left {}

        &--right {
            min-width: calc(50% - 10px);
        }

        span {
            display: block;
            word-break: break-all;
            color: #333333;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    &__delimiter {
        flex-grow: 1;
        padding: 0 10px;

        &::before {
            display: block;
            width: 100%;
            height: 2px;
            content: '';
            border-radius: 10px;
            background: #EEF7FF;
        }
    }

    span {}
}

.tsws-slide-teams__pic {
    margin-right: 5px;

    img {
        display: block;
        width: auto;
        height: 24px;
        object-fit: contain;
        object-position: center center;
    }
}

.tsws-slide-score {
    margin-top: 20px;
    text-align: center;
    color: #B6B6B6;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;

    &--live {
        color: #0E3770;
    }

    span {}
}

.tsws-slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    margin-top: -24px;
    cursor: pointer;
    transition-duration: .2s;

    svg {
        width: 9px;
        height: 19px;

        path {}
    }

    &:hover {
        opacity: .7;
    }
}

.tsws-slick-prev {
    left: -36px;
}

.tsws-slick-next {
    right: -36px;
}

///////Бегущая строка
.main-marquee-section {
    width: 100%;
    background: #F8F8F8;
}

.main-marquee-flex {
    display: flex;
    align-items: center;
    height: 58px;

    &__live {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 80px;
        height: 100%;
        padding: 0 20px;
        color: #FFFFFF;
        background: #DE2A2D;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;

        &::before {
            display: block;
            width: 6px;
            height: 6px;
            margin-right: 5px;
            content: '';
            border-radius: 50%;
            background: #FFFFFF;
        }
    }
}

.main-marquee-wrap {
    box-sizing: border-box;
    width: calc(100% - 80px);
}

.main-marquee {
    overflow: hidden;
    max-width: 100%;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.top-section-with-slider {
    position: relative;
    z-index: 1;
}

///////////////////
.section-hp-main {
    padding-top: 100px;
}

.news__banners-top--homepage {}

.hp-h2 {
    color: #333333;
    font-family: $fontMon;
    font-size: 35px;
    font-weight: bold;
    line-height: 43px;
}

.hp-default-layout {
    display: flex;
    justify-content: space-between;

    &__main {

        width: calc( 100% - 289px - 20px);

    }

    &__sidebar {
        min-width: 289px;
        max-width: 289px;
    }

    &--hp-margins {
        margin-top: 50px;
        margin-bottom: 76px;
    }
}

.lastest-events-block {
    display: flex;
}

.lastest-events-main {
    width: calc(100% - 392px - 20px);
    margin-right: 20px;
}

.main-last-event {
    &:hover {}

    &:active {}

    &:focus {}
}

.main-last-event-card {
    position: relative;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &::before {
        display: block;
        padding-top: 60.6060%;
        content: '';
    }
}

.mle-card-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.mle-card-top {
    flex-grow: 1;
}

.mle-card-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;

    &__item {
        display: flex;
        align-items: center;
        padding: 7px 10px 5px;
        color: #B6B6B6;
        border-radius: 3px;
        background: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin-top: 10px;

        svg {
            display: block;
            max-width: 18px;
            max-height: 14px;
            margin-right: 10px;
            fill: #0E3770;
            stroke: #0E3770;

            use {}
        }

        &:not(:last-child) {
            margin-right: 10px;
        }

        &--date {
            padding: 7px 20px 5px;
        }
    }
}

.category-label {
    display: inline-flex;
    align-items: center;
    padding: 6px 20px;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;

    svg {
        display: block;
        width: 14px;
        height: 14px;
        margin-right: 10px;
        fill: #ffffff !important;
        stroke: #ffffff !important;

        use {
            fill: #ffffff !important;
            stroke: #ffffff !important;
        }
    }
}

.mle-title {
    margin-top: 30px;
    color: #3E659B;
    font-family: $fontMon;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.mle-excerpt {
    margin-top: 20px;
    color: #B6B6B6;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.lastest-events-other {
    width: 392px;
}

.lastest-events-other-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lastest-events-other-item {
    position: relative;
    z-index: 1;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border-radius: 50%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    &::before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition-duration: .5s;
        border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0)), color-stop(70.31%, rgba(51, 51, 51, 0.94)));
        background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.94) 70.31%);
        background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.94) 70.31%);
        background: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.94) 70.31%);
        background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.94) 70.31%);
    }

    &::after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition-duration: .5s;
        opacity: 0;
        border-radius: 5px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0)), color-stop(70.31%, rgba(14, 55, 112, 0.94)));
        background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(14, 55, 112, 0.94) 70.31%);
        background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(14, 55, 112, 0.94) 70.31%);
        background: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(14, 55, 112, 0.94) 70.31%);
        background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(14, 55, 112, 0.94) 70.31%);
    }

    &:hover {
        &::before {
            opacity: .3;
        }

        &::after {
            opacity: 1;
        }
    }
}

.leo-item-content {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 66px 20px 20px;
}

.leo-item__date {
    color: #B6B6B6;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.leo-item__title {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 18px;
}

///////////////////////

.hp-news-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.hp-news-top-link-all {
    display: flex;
    align-items: center;
    color: #0E3770;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;

    &::after {
        display: block;
        width: 7px;
        height: 14px;
        margin-left: 10px;
        content: '';
        background: url(../img/header/article-switcher-arrow-rb.svg) no-repeat center center;
        background-size: contain;
    }

    &:hover {}

    &:active {}

    &:focus {}
}

.hp-h2--hp-news {}

.hp-news-tab-controls-wrap {
    display: flex;
    overflow: hidden;
    height: 70px;
    margin-top: 50px;
    border-radius: 5px;
}

.hp-news-tab-controls {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
}

.hp-news-tab-control {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    transition-duration: .2s;
    color: #333333;
    background: #F8F8F8;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;

    svg {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        transition-duration: .2s;
    }

    &--active {
        pointer-events: none;
        color: #FFFFFF;
        background: #0E3770;

        svg {
            fill: #ffffff;
            stroke: #ffffff;
        }
    }

    &:hover {
        opacity: .7;
    }
}

.hp-news-tab-controls-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 100%;
    transition-duration: .2s;
    color: #0E3770;
    background: #eceef1;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;

    &::after {
        display: block;
        width: 7px;
        height: 14px;
        margin-left: 10px;
        content: '';
        background: url(../img/header/article-switcher-arrow-rb.svg) no-repeat center center;
        background-size: contain;
    }

    &:hover {
        opacity: .7;
    }

    &:active {}

    &:focus {}
}

.hp-news-tabs {}

.hp-news-tab {
    display: none;

    &--active {
        display: block;
    }
}

.hp-news-item {
    display: block;
    padding: 50px 0;
    border-bottom: 2px solid #EEF7FF;

    &:hover {}

    &:active {}

    &:focus {}
}

.hp-news-item-top-wrap {
    display: block;
}

.hp-news-item-top {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 261px;
}

.category-label--hp-news-item-top {
    svg {}
}

.hp-news-item-date {
    margin-left: 15px;
    color: #B6B6B6;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.hp-news-item-title {
    margin-top: 10px;
    color: #333333;
    font-family: $fontMon;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.hp-news-item-excerpt {
    /* or 150% */
    margin-top: 10px;
    color: #B6B6B6;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}
.hp-news-top--articles{
    margin-top: 99px;
}
.news__banner{
    display: block;
}

.news__banner--bottom-desktop-tablet{
    margin-top: 50px;
}
.news__banner img{
    object-position: center center;
    display: block;
}