mixin breadcrumbs(paddingLeft=false,item1="", item2="", item3="", item4="", item5="")
	nav.breadcrumbs-wrap
	ul(class="breadcrumbs" + (paddingLeft==true?"":" breadcrumbs--pl0"))
		if(item1=="")
			li.breadcrumbs-item
				a.breadcrumbs-item-a(href="") Раздел

			li.breadcrumbs-item Раздел
		else
			li.breadcrumbs-item
				a.breadcrumbs-item-a(href="")
					=item1
			if(item2!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item2
			if(item3!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item3
			if(item4!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item4
			if(item5!="")
				li.breadcrumbs-item
					a.breadcrumbs-item-a(href="")
						=item5

mixin header-bottom()
	section.top-section-with-slider
		.container.container-tsws
			.tsws-slider.js-tsws-slider
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score.tsws-slide-score--live
							span 2:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-te.svg", alt="")
							span.tsws-slide-category__name(style="color: #E8B500;") Теннис

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30

						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-1.jpg", alt="")
								span Мораинг
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-2.jpg", alt="")
								span Котов

						.tsws-slide-score.tsws-slide-score--live
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span ЦСК
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span УФА
						.tsws-slide-score
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-bb.svg", alt="")
							span.tsws-slide-category__name(style="color: #E57E25;") Баскетбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Легенды
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span ДИС
						.tsws-slide-score
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score.tsws-slide-score--live
							span 2:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-te.svg", alt="")
							span.tsws-slide-category__name(style="color: #E8B500;") Теннис

						.tsws-slide-info
							.tsws-slide-info__occurred.tsws-slide-info__occurred--live Live
							.tsws-slide-info__date 15.03.2020, 15:30

						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-1.jpg", alt="")
								span Мораинг
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-player-2.jpg", alt="")
								span Котов

						.tsws-slide-score.tsws-slide-score--live
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score
							span 0:0
				.tsws-slide
					.tsws-match-card
						.tsws-slide-category
							.tsws-slide-category__pic
								img(src="img/header/a-fb.svg", alt="")
							span.tsws-slide-category__name(style="color: #009A06;") Футбол

						.tsws-slide-info
							.tsws-slide-info__occurred Предстоит
							.tsws-slide-info__date 15.03.2020, 15:30
						.tsws-slide-teams
							.tsws-slide-teams__team.tsws-slide-teams__team--left
								.tsws-slide-teams__pic
									img(src="img/homepage/team-1.jpg", alt="")
								span Сочи
							.tsws-slide-teams__delimiter
							.tsws-slide-teams__team.tsws-slide-teams__team--right
								.tsws-slide-teams__pic
									img(src="img/homepage/team-2.jpg", alt="")
								span Краснодар
						.tsws-slide-score
							span 0:0

	section.main-marquee-section
		.main-marquee-flex
			.main-marquee-flex__live Live
			.main-marquee-wrap
				.main-marquee.js-main-marquee(data-duration='10000' data-gap='25' data-duplicated='true') Жеребьевка будет полностью открытая, сеяных и несеяных команд нет. Команда, которую в каждой паре достанут первой, проведет стартовый полуфинальный матч на своем поле. Поможет провести жеребьевку посол финального матча в Киеве и победитель Лиги чемпионов в составе


